<!-- growui/src/app/chart/chart.component.html -->
<div class="time-range-buttons">
    <button (click)="setTimeRange('10min')">10 min</button>
    <button (click)="setTimeRange('30min')">30 min</button>
    <button (click)="setTimeRange('1h')">1 h</button>
    <button (click)="setTimeRange('2h')">2 h</button>
    <button (click)="setTimeRange('4h')">4 h</button>
</div>
<div #chartContainer (wheel)="onMouseWheel($event)" (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)"
    (mousemove)="onMouseMove($event)" (mouseenter)="isMouseOverChart = true" (mouseleave)="isMouseOverChart = false">
    <p-chart #chart [data]="chartData" [options]="chartOptions"></p-chart>
</div>